header{
    display:block;
    background-image: url("./../images/banner-name.jpg");
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#loginForm{
    width: 50%;
    border:1px solid black;
    align-items: center;
    margin:auto;
}
#registerForm{
    float:right;
    width:50%;
    border:1px solid black;
    margin:auto;
}
submit{
    display:inline;
}